@font-face {
  font-family: 'iconfont';  /* project id 477560 */
  src: url('//at.alicdn.com/t/font_477560_vcyyo5a0y60cc8fr.eot');
  src: url('//at.alicdn.com/t/font_477560_vcyyo5a0y60cc8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_477560_vcyyo5a0y60cc8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_477560_vcyyo5a0y60cc8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_477560_vcyyo5a0y60cc8fr.svg#iconfont') format('svg');
}